.todoList{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px;
  gap: 20px;
  padding-top: 40px;
  position: relative;
}

.main-container{
  background-color: #09090B;
}


.todos{
  background-color: white;
  font-size: 15px;
  min-height: 150px;
  border-radius: 3px;
  display: flex ;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 10px;
}

.todo-date{
  font-size: 10px;
  color: #27272a;
}

.logo , .auth-ops{
    color : white;
}

.todo-ops{
  background-color: #09090B;
  color: white;
  padding: 7px;
  border-radius: 4px;

}

.todo-ops:hover{
  background-color: #27272a;
}

.row{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.row-todo-ops{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.rounded{
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 0.1px solid #27272a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email{
  color: white;
  font-size: 15px;
}



.auth-ops{
  padding: 10px;
  color: black;
  background-color: white;
  border-radius: 3px;
}



.auth-ops:hover{  
  background-color: #e2e2e3;
}

.header{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction : row;
  justify-content: space-around;
  align-items: center;

}



.create-btn , .textbox {
  border-radius : 5px;
  background-color: #09090b;
  color : white;
  border: 0.1px solid #27272a;
}


.create-btn{
  height: 60px;
  width: 60px;
  font-size: 30px;
  border-radius : 5px;
  cursor : pointer;
}


.create-btn:hover{
  border-color: white;
}

.textbox{
    padding: 10px;
    height: 40px;
    width: 40%;
    font-size: 11px;
}

.textbox::placeholder{
  font-size: 14px;
}

.input-container{
  display: flex;
  flex-direction : row;
  gap :  10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.main-container{
  display : flex;
  flex-direction : column;
  gap: 10px;
  padding-top: 30px;
  align-items : center;

}

#root{
  background-color: #09090b;
  width: 100%;
  height: 100vh;
}

body{
  margin : 0px;
  padding: 0px;
}

span{
  color : black;
  cursor: pointer;
}


.auth-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
  gap : 10px;
}

.switch-auth{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  height : 50%;
  border-radius: 5px;
}

.sign-option{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sign-box{
  padding-top: 100px;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction : column;
  align-items: center;
  justify-content: center;
}

.email-box , .password-box , .submit-btn{
  width: 50%;
  height: 25px;
  border: 0.1px solid #e2e2e3;
  border-radius: 5px;
}

.email-box , .password-box{
  padding: 15px;
}

.submit-btn{
  background-color: #1a56db;
  color: white;
  height: 40px;
  cursor : pointer;
}

.sign-anchor{
  color : #7d797d;
  text-decoration : underline;
  font-size: 13px;
}

.sign-tab{
  padding-top: 10px;
  padding-bottom :10px;
  border-radius: 3px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition : background-color 500ms ;
}

@media screen and (min-width: 932px) {
   .switch-auth{
      width: 35%;  
   }
}

@media screen and (max-width: 1266px){
  
  .todoList{
      grid-template-columns: repeat(3, 1fr);
      margin : 20px;
  }

}

@media screen and (max-width: 987px){
  
  .todoList{
      grid-template-columns: repeat(2, 1fr);
      margin : 20px;
  }

}

@media screen and (max-width: 663px){
  
  .todoList{
      grid-template-columns: repeat(1, 1fr);
      margin : 20px;
  }

}